# Core TFVars file for DEV
prefix              = <prefix>
environment         = <environment>
region              = <region>

#HardCodedAWSCredentials
#aws_account_id      = <aws_account_id>
#aws = {
#  region = <region>
#  access_key = <access_key>
#  secret_key = <secret_key>
#}